<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">
    <div class="navbar-header">
      <div class="row text-primary" style="display: inline-block;">
        <a class="navbar-brand text-white" href="#">
          <b> &nbsp; &nbsp; &nbsp; &nbsp;
            <img src="assets/images/edu/books.jpg" length="45" width="45" alt="homepage" class="dark-logo" />
            &nbsp; &nbsp;
          </b>
          <strong>THENGA TENGA BUY</strong>
        </a>
      </div>
    </div>

    <!-- <div class="float-right">
      <links>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect routerLink="/about" routerLinkActive="active">
              About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect routerLink="/contact" routerLinkActive="active">
              Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect routerLink="/getting-started" routerLinkActive="active">
              Getting Started</a>
          </li>
        </ul>
      </links>
    </div> -->

    <div class="navbar-collapse">
      <app-navigation2 class="w-100"></app-navigation2>
    </div>

    <div class="navbar-collapse">
      <app-navigation class="w-100" (toggleSidebar)="toggleSidebar()"></app-navigation>
    </div>

  </nav>
</header>


<div class="card col-4 offset-4 mt-4">
  <div class="card-body">
    <h2 class="card-title text-center text-primary"> THENGA TENGA BUY </h2>
  </div>
</div>

<div class="row">

  <div class="col-md-4">
    <div class="card offset-4 mt-4">
      <ul class="list-group list-group-flush mt-4">
        <li class="list-group-item">
          <a href="/greens"> <img src="../src/assets/images/shops/greens.png" class="sub-img"/></a>
        </li>
        <li class="list-group-item">
          <a href="/choppies"> <img src="../src/assets/images/shops/choppies.png" class="sub-img"/></a>
        </li>
        <li class="list-group-item">
          <a href="/spar"> <img src="../src/assets/images/shops/spar.png" class="sub-img"/></a>
        </li>
        <li class="list-group-item">
          <a href="/ok"> <img src="../src/assets/images/shops/ok.png" class="sub-img"/></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card offset-4 mt-4">
      <ul class="list-group list-group-flush mt-4">
        <li class="list-group-item">
          <a href="/pnp"> <img src="../src/assets/images/shops/pnp2.png" class="sub-img"/></a>
        </li>
        <li class="list-group-item">
          <a href="/choppies"> <img src="../src/assets/images/shops/electrosales.png" class="sub-img"/></a>
        </li>
        <li class="list-group-item">
          <a href="/spar"> <img src="../src/assets/images/shops/foodforless.png" class="sub-img"/></a>
        </li>
        <li class="list-group-item">
          <a href="/ok"> <img src="../src/assets/images/shops/fortwell.jpg" class="sub-img"/></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card offset-4 mt-4">
      <ul class="list-group list-group-flush mt-4">
        <li class="list-group-item">
          <a href="/greens"> <img src="../src/assets/images/shops/metropeech.jpg" class="sub-img"/></a>
        </li>
        <li class="list-group-item">
          <a href="/choppies"> <img src="../src/assets/images/shops/nrichards.jpg" class="sub-img"/></a>
        </li>
        <li class="list-group-item">
          <a href="/spar"> <img src="../src/assets/images/shops/tilus.jpg" class="sub-img"/></a>
        </li>
        <li class="list-group-item">
          <a href="/ok"> <img src="../src/assets/images/shops/zapalala.jpg" class="sub-img"/></a>
        </li>
      </ul>
    </div>
  </div>

</div> <!-- row -->


<!-- MAY BE NECESSARY -->

<!-- <a (click)="myfunction()"> <img src="https://angular.io/assets/images/logos/angular/angular.svg"/></a> -->