<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue darken-4">
    <mdb-navbar-brand>
        <a href="signed" class="navbar-brand">THENGA TENGA BUY</a>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="about" routerLinkActive="active">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="contact" routerLinkActive="active">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="getting-started" routerLinkActive="active">Getting Started</a>
            </li>
        </ul>
    </links>
</mdb-navbar>

<h3 class="text-center p-4 m-2">
    GETTING STARTED
  </h3>
  <img src="../src/assets/images/log_n_reg/login2.png" class="col-6 offset-3" />
