<!-- ============================================================== -->
<!-- toggle and nav items -->
<!-- ============================================================== -->
<ul class="navbar-nav mr-auto float-right">

    <links class="">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link waves-light text-white" mdbWavesEffect routerLink="/about" routerLinkActive="active">
                    About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light text-white" mdbWavesEffect routerLink="/contact" routerLinkActive="active">
                    Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light text-white" mdbWavesEffect routerLink="/getting-started" routerLinkActive="active">
                    Getting Started</a>
            </li>
        </ul>
    </links>
</ul>