  <div class="card login">
    <div class="card-header info-color white-text text-center py-8">
    <h2>
      <strong>THANK YOU</strong>
    </h2>
    <br>
    <h5>
      <strong>Transaction Successful <br>
        Transaction Reference Number: 23443DC23</strong>
    </h5>
    <br>

    <h3>
      <strong>PLEASE PRESENT YOUR ID UPON DELIVERY</strong>
    </h3>

    <div class="card-body px-lg-5 pt-0 login2">

      <div class="text-center" style="color: #757575;" action="#!">

        <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit" (click)="signInSubmit()">Return to main page</button>

      </div>
    </div>
  </div>
  </div>
