<p></p>

<h3 class="text-center"> Select Payment Method </h3>

  <div class="card offset-4 mt-4">
    <ul class="list-group list-group-flush mt-4">
      <li class="list-group-item">
        <a (click)="paymentMethod($event)"> <img src="../src/assets/images/payment/ecocash.png" class="sub-img"/></a>
      </li>
      <li class="list-group-item">
        <a href="/choppies"> <img src="../src/assets/images/payment/telecash.png" class="sub-img"/></a>
      </li>
      <li class="list-group-item">
        <a href="/spar"> <img src="../src/assets/images/payment/onewallet.png" class="sub-img"/></a>
      </li>
      <li class="list-group-item">
        <a href="/ok"> <img src="../src/assets/images/payment/zimswitch.png" class="sub-img"/></a>
      </li>
    </ul>
  </div>

